################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/devexp-assessment
/devexp-assessment/.vs
/devexp-assessment/obj
/.vs
/DevexpAssessment/.vs
/DevexpAssessment/bin/Debug/net8.0
/DevexpAssessment/obj
/DevexpAssessment/bin/Debug
/DevexpAssessment.IntegrationTests/bin/Debug/net8.0
/DevexpAssessment.IntegrationTests/obj
/DevexpAssessment.UnitTests/bin/Debug/net8.0
/DevexpAssessment.UnitTests/obj
/DevexpTester/bin/Debug/net8.0
/DevexpTester/obj
/MessageValidator/bin/Debug/net8.0
/MessageValidator/obj
/DevexpAssesment.WebhookTester/bin
/DevexpAssesment.WebhookTester/obj
/DevexpAssessment/bin/Release
/DevexpAssessment.IntegrationTests/bin/Release/net8.0
/DevexpAssessment.UnitTests/bin/Release/net8.0
/MessageValidator/bin/Release/net8.0
